@tailwind base;
@tailwind components;
@tailwind utilities;

.ShadowFont {
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}
.BoxShadow {
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}
.BoxShadow2 {
  box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);
}

html {
  background: linear-gradient(-45deg, #242624, #194219, #242424, #2f462f);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
